.DS_Store

# Backend
backend/build/
backend/.gradle/
backend/bin/
backend/*.class

# Frontend
frontend/node_modules/
frontend/dist/

# Dashboard
dashboard/node_modules/
dashboard/dist/
dashboard/src/data/generated/*.json

# IDE
.idea/
*.iml
.vscode/
